/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}

header h1 {
    margin-left: 0;
}

header img {
    border-radius: 50%;
    align-self: center;
    bottom: 500px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    align-self: flex-end;
    margin-right: 0;

}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* contact section styles */

#contact {
    margin-top: 20px;
}

.contact-sidebar {
    background-color: #f8f9fa;
    padding: 10px;
    margin-left: auto;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-item {
    margin-bottom: 10px;
}

/* Add media queries for responsiveness in the "Contact" section */
@media screen and (max-width: 768px) {
    .contact-info {
        align-items: center;
    }
}


/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
    header {
        font-size: 18px;
    }

    nav {
        margin-top: 10px;
        text-align: right;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
}